In [1]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [7]:
PATH = '/content/gdrive/MyDrive/데분/데이콘/주차수요/data/'

In [17]:
!pip install lightgbm

Requirement already satisfied: lightgbm in /usr/local/lib/python3.7/dist-packages (2.2.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from lightgbm) (0.22.2.post1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightgbm) (1.0.1)

In [38]:
import pandas as pd
import numpy as np
from lightgbm import LGBMRegressor
from tqdm import tqdm

In [49]:
train_df  = pd.read_csv(PATH+'train.csv')
test_df  = pd.read_csv(PATH+'test.csv')
info_df  = pd.read_csv(PATH+'age_gender_info.csv')

In [10]:
train_df.head()

    단지코드  총세대수 임대건물구분  ... 도보 10분거리 내 버스정류장 수 단지내주차면수   등록차량수
0  C2483   900    아파트  ...                3.0  1425.0  1015.0
1  C2483   900    아파트  ...                3.0  1425.0  1015.0
2  C2483   900    아파트  ...                3.0  1425.0  1015.0
3  C2483   900    아파트  ...                3.0  1425.0  1015.0
4  C2483   900    아파트  ...                3.0  1425.0  1015.0

[5 rows x 15 columns]

In [12]:
train_df.shape

(2952, 15)

In [13]:
test_df.head()

    단지코드  총세대수  ... 도보 10분거리 내 버스정류장 수 단지내주차면수
0  C1072   754  ...                2.0   683.0
1  C1072   754  ...                2.0   683.0
2  C1072   754  ...                2.0   683.0
3  C1072   754  ...                2.0   683.0
4  C1072   754  ...                2.0   683.0

[5 rows x 14 columns]

In [14]:
test_df.shape

(1022, 14)

In [15]:
info_df.head()

      지역  10대미만(여자)  10대미만(남자)  ...   90대(남자)  100대(여자)  100대(남자)
0   경상북도   0.030158   0.033195  ...  0.001553  0.000234  0.000014
1   경상남도   0.027400   0.026902  ...  0.001086  0.000179  0.000010
2  대전광역시   0.028197   0.029092  ...  0.001740  0.000298  0.000066
3    경기도   0.038030   0.039507  ...  0.001707  0.000290  0.000067
4   전라북도   0.028089   0.029065  ...  0.001898  0.000158  0.000013

[5 rows x 23 columns]

In [16]:
info_df.shape

(16, 23)

In [20]:
train_df.isna().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           569
임대료                             569
도보 10분거리 내 지하철역 수(환승노선 수 반영)    211
도보 10분거리 내 버스정류장 수                4
단지내주차면수                           0
등록차량수                             0
dtype: int64

In [50]:
train_df.columns = [
    '단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수', '신분',
    '임대보증금', '임대료', '지하철', '버스',
    '단지내주차면수', '등록차량수'
]

test_df.columns = [
    '단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수', '신분',
    '임대보증금', '임대료', '지하철', '버스',
    '단지내주차면수'
]

In [51]:
local_map = {}
for i, loc in enumerate(train_df['지역'].unique()):
    local_map[loc] = i

In [52]:
train_df['지역'] = train_df['지역'].map(local_map)
test_df['지역'] = test_df['지역'].map(local_map)

In [53]:
train_df['전용면적'] = train_df['전용면적']//5*5
test_df['전용면적'] = test_df['전용면적']//5*5

In [54]:
columns = ['단지코드', '총세대수', '공가수', '지역', '단지내주차면수', '지하철', '버스']
target = '등록차량수'
area_columns = []
for area in train_df['전용면적'].unique():
    area_columns.append(f'면적_{area}')

In [55]:
new_train = pd.DataFrame()
new_test = pd.DataFrame()

In [56]:
for i, code in tqdm(enumerate(train_df['단지코드'].unique())):
    temp = train_df[train_df['단지코드']==code]
    temp.index = range(temp.shape[0])
    for col in columns:
        new_train.loc[i, col] = temp.loc[0, col]
    
    for col in area_columns:
        area = float(col.split('_')[-1])
        new_train.loc[i, col] = temp[temp['전용면적']==area]['전용면적별세대수'].sum()
    
    new_train.loc[i, '등록차량수'] = temp.loc[0, '등록차량수']
    
for i, code in tqdm(enumerate(test_df['단지코드'].unique())):
    temp = test_df[test_df['단지코드']==code]
    temp.index = range(temp.shape[0])
    for col in columns:
        new_test.loc[i, col] = temp.loc[0, col]
    
    for col in area_columns:
        area = float(col.split('_')[-1])
        new_test.loc[i, col] = temp[temp['전용면적']==area]['전용면적별세대수'].sum()

0it [00:00, ?it/s]
2it [00:00, 18.17it/s]
5it [00:00, 19.53it/s]
8it [00:00, 20.16it/s]
11it [00:00, 20.99it/s]
13it [00:00, 20.35it/s]
16it [00:00, 21.14it/s]
19it [00:00, 21.90it/s]
22it [00:00, 22.20it/s]
25it [00:01, 22.31it/s]
28it [00:01, 22.36it/s]
31it [00:01, 21.86it/s]
34it [00:01, 21.82it/s]
37it [00:01, 21.34it/s]
40it [00:01, 21.35it/s]
43it [00:01, 20.96it/s]
46it [00:02, 20.97it/s]
49it [00:02, 20.79it/s]
52it [00:02, 21.02it/s]
55it [00:02, 22.12it/s]
58it [00:02, 22.50it/s]
61it [00:02, 22.79it/s]
64it [00:02, 22.58it/s]
67it [00:03, 22.38it/s]
70it [00:03, 22.11it/s]
73it [00:03, 21.52it/s]
76it [00:03, 21.60it/s]
79it [00:03, 21.57it/s]
82it [00:03, 21.50it/s]
85it [00:03, 21.77it/s]
88it [00:04, 21.72it/s]
91it [00:04, 21.29it/s]
94it [00:04, 22.42it/s]
97it [00:04, 23.43it/s]
100it [00:04, 24.14it/s]
103it [00:04, 22.99it/s]
106it [00:04, 23.18it/s]
109it [00:04, 23.35it/s]
112it [00:05, 22.82it/s]
115it [00:05, 23.31it/s]
118it [00:05, 23.77it/s]
121it [00:05, 23.64it/s]
124it [00:05, 22.33it/s]
127it [00:05, 22.15it/s]
130it [00:05, 21.99it/s]
133it [00:06, 21.95it/s]
136it [00:06, 22.86it/s]
139it [00:06, 23.51it/s]
142it [00:06, 23.11it/s]
145it [00:06, 22.47it/s]
148it [00:06, 22.42it/s]
151it [00:06, 22.39it/s]
154it [00:06, 22.91it/s]
157it [00:07, 23.06it/s]
160it [00:07, 22.32it/s]
163it [00:07, 22.04it/s]
166it [00:07, 22.32it/s]
169it [00:07, 21.92it/s]
172it [00:07, 21.71it/s]
175it [00:07, 22.33it/s]
178it [00:07, 22.91it/s]
181it [00:08, 23.33it/s]
184it [00:08, 23.96it/s]
187it [00:08, 24.04it/s]
190it [00:08, 24.58it/s]
193it [00:08, 24.61it/s]
196it [00:08, 23.63it/s]
199it [00:08, 24.05it/s]
202it [00:08, 24.75it/s]
205it [00:09, 24.77it/s]
208it [00:09, 25.36it/s]
211it [00:09, 25.07it/s]
214it [00:09, 25.10it/s]
217it [00:09, 24.25it/s]
220it [00:09, 24.99it/s]
223it [00:09, 24.87it/s]
226it [00:09, 25.10it/s]
229it [00:10, 25.71it/s]
232it [00:10, 26.24it/s]
235it [00:10, 26.33it/s]
238it [00:10, 25.54it/s]
241it [00:10, 25.26it/s]
244it [00:10, 25.48it/s]
247it [00:10, 24.67it/s]
250it [00:10, 23.68it/s]
253it [00:10, 24.31it/s]
256it [00:11, 25.00it/s]
259it [00:11, 25.40it/s]
262it [00:11, 25.88it/s]
265it [00:11, 26.14it/s]
268it [00:11, 25.34it/s]
271it [00:11, 24.09it/s]
274it [00:11, 23.59it/s]
277it [00:11, 22.84it/s]
280it [00:12, 23.50it/s]
283it [00:12, 23.76it/s]
286it [00:12, 24.40it/s]
289it [00:12, 24.67it/s]
292it [00:12, 24.77it/s]
295it [00:12, 24.22it/s]
298it [00:12, 23.15it/s]
301it [00:12, 23.70it/s]
304it [00:13, 23.51it/s]
307it [00:13, 23.26it/s]
310it [00:13, 22.22it/s]
313it [00:13, 23.00it/s]
316it [00:13, 23.30it/s]
319it [00:13, 22.90it/s]
322it [00:13, 22.54it/s]
325it [00:14, 22.46it/s]
328it [00:14, 22.34it/s]
331it [00:14, 22.05it/s]
334it [00:14, 22.45it/s]
337it [00:14, 22.74it/s]
340it [00:14, 22.96it/s]
343it [00:14, 22.64it/s]
346it [00:14, 23.00it/s]
349it [00:15, 22.89it/s]
352it [00:15, 22.95it/s]
355it [00:15, 22.91it/s]
358it [00:15, 24.01it/s]
361it [00:15, 24.92it/s]
364it [00:15, 24.07it/s]
367it [00:15, 24.49it/s]
370it [00:15, 23.96it/s]
373it [00:16, 23.15it/s]
376it [00:16, 22.36it/s]
379it [00:16, 22.60it/s]
382it [00:16, 23.26it/s]
385it [00:16, 22.97it/s]
388it [00:16, 23.73it/s]
391it [00:16, 24.82it/s]
394it [00:16, 24.87it/s]
397it [00:17, 24.78it/s]
400it [00:17, 25.02it/s]
403it [00:17, 24.93it/s]
406it [00:17, 24.98it/s]
409it [00:17, 24.41it/s]
412it [00:17, 25.24it/s]
415it [00:17, 25.93it/s]
418it [00:17, 25.78it/s]
423it [00:18, 23.33it/s]

0it [00:00, ?it/s]
2it [00:00, 17.10it/s]
5it [00:00, 18.29it/s]
8it [00:00, 19.56it/s]
11it [00:00, 20.79it/s]
14it [00:00, 21.61it/s]
17it [00:00, 21.92it/s]
20it [00:00, 22.94it/s]
23it [00:01, 23.61it/s]
26it [00:01, 24.37it/s]
29it [00:01, 23.71it/s]
32it [00:01, 23.71it/s]
35it [00:01, 22.59it/s]
38it [00:01, 22.44it/s]
41it [00:01, 22.11it/s]
44it [00:01, 22.67it/s]
47it [00:02, 22.56it/s]
50it [00:02, 23.02it/s]
53it [00:02, 22.39it/s]
56it [00:02, 22.30it/s]
59it [00:02, 23.12it/s]
62it [00:02, 23.52it/s]
65it [00:02, 22.64it/s]
68it [00:02, 22.38it/s]
71it [00:03, 21.96it/s]
74it [00:03, 21.81it/s]
77it [00:03, 21.76it/s]
80it [00:03, 22.24it/s]
83it [00:03, 22.58it/s]
86it [00:03, 22.19it/s]
89it [00:03, 22.71it/s]
92it [00:04, 22.99it/s]
95it [00:04, 24.04it/s]
98it [00:04, 24.18it/s]
101it [00:04, 23.85it/s]
104it [00:04, 23.79it/s]
107it [00:04, 24.18it/s]
110it [00:04, 25.34it/s]
113it [00:04, 24.98it/s]
116it [00:05, 25.45it/s]
119it [00:05, 25.65it/s]
122it [00:05, 25.27it/s]
125it [00:05, 24.17it/s]
128it [00:05, 24.02it/s]
131it [00:05, 23.37it/s]
134it [00:05, 23.50it/s]
137it [00:05, 22.93it/s]
140it [00:06, 23.56it/s]
143it [00:06, 24.50it/s]
146it [00:06, 24.31it/s]
150it [00:06, 23.30it/s]

In [57]:
new_train = new_train.fillna(-1)
new_test = new_test.fillna(-1)

In [59]:
new_train.head()

    단지코드    총세대수   공가수   지역  ...  면적_405.0  면적_80.0  면적_65.0   등록차량수
0  C2483   900.0  38.0  0.0  ...       0.0      0.0      0.0  1015.0
1  C2515   545.0  17.0  1.0  ...       0.0      0.0      0.0   205.0
2  C1407  1216.0  13.0  2.0  ...       0.0      0.0      0.0  1064.0
3  C1945   755.0   6.0  3.0  ...       0.0      0.0      0.0   730.0
4  C1470   696.0  14.0  4.0  ...       0.0      0.0      0.0   553.0

[5 rows x 32 columns]

In [60]:
x_train = new_train.iloc[:, 1:-1]
y_train = new_train.iloc[:,-1]
x_test = new_test.iloc[:,1:]

In [61]:
model = LGBMRegressor(n_jobs=-1, random_state=42)

In [62]:
model.fit(x_train, y_train)

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=-1,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
              random_state=42, reg_alpha=0.0, reg_lambda=0.0, silent=True,
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [63]:
pred = model.predict(x_test)

In [64]:
submission  = pd.read_csv(PATH+'sample_submission.csv')

In [65]:
submission['num'] = pred

In [66]:
submission.to_csv(PATH+'baseline.csv', index=False)