In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [ ]:
PATH = '/content/gdrive/MyDrive/데분/데이콘/주차수요/data/'

In [ ]:
!pip install lightgbm

Requirement already satisfied: lightgbm in /usr/local/lib/python3.7/dist-packages (2.2.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.19.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from lightgbm) (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightgbm) (1.0.1)

In [ ]:
import pandas as pd
import numpy as np
from lightgbm import LGBMRegressor
from tqdm import tqdm
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold 
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [ ]:
train_df  = pd.read_csv(PATH+'train.csv')
test_df  = pd.read_csv(PATH+'test.csv')
info_df  = pd.read_csv(PATH+'age_gender_info.csv')

In [ ]:
train_df.head()

    단지코드  총세대수 임대건물구분  ... 도보 10분거리 내 버스정류장 수 단지내주차면수   등록차량수
0  C2483   900    아파트  ...                3.0  1425.0  1015.0
1  C2483   900    아파트  ...                3.0  1425.0  1015.0
2  C2483   900    아파트  ...                3.0  1425.0  1015.0
3  C2483   900    아파트  ...                3.0  1425.0  1015.0
4  C2483   900    아파트  ...                3.0  1425.0  1015.0

[5 rows x 15 columns]

In [ ]:
train_df.shape

(2952, 15)

In [ ]:
test_df.head()

    단지코드  총세대수  ... 도보 10분거리 내 버스정류장 수 단지내주차면수
0  C1072   754  ...                2.0   683.0
1  C1072   754  ...                2.0   683.0
2  C1072   754  ...                2.0   683.0
3  C1072   754  ...                2.0   683.0
4  C1072   754  ...                2.0   683.0

[5 rows x 14 columns]

In [ ]:
test_df.shape

(1022, 14)

In [ ]:
info_df.head()

      지역  10대미만(여자)  10대미만(남자)  ...   90대(남자)  100대(여자)  100대(남자)
0   경상북도   0.030158   0.033195  ...  0.001553  0.000234  0.000014
1   경상남도   0.027400   0.026902  ...  0.001086  0.000179  0.000010
2  대전광역시   0.028197   0.029092  ...  0.001740  0.000298  0.000066
3    경기도   0.038030   0.039507  ...  0.001707  0.000290  0.000067
4   전라북도   0.028089   0.029065  ...  0.001898  0.000158  0.000013

[5 rows x 23 columns]

In [ ]:
info_df.shape

(16, 23)

In [ ]:
train_df.isna().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           569
임대료                             569
도보 10분거리 내 지하철역 수(환승노선 수 반영)    211
도보 10분거리 내 버스정류장 수                4
단지내주차면수                           0
등록차량수                             0
dtype: int64

In [ ]:
train_df.columns = [
    '단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수', '신분',
    '임대보증금', '임대료', '지하철', '버스',
    '단지내주차면수', '등록차량수'
]

test_df.columns = [
    '단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수', '신분',
    '임대보증금', '임대료', '지하철', '버스',
    '단지내주차면수'
]

In [ ]:
train_df[['임대보증금', '임대료']] = train_df[['임대보증금', '임대료']].fillna(0)
test_df[['임대보증금', '임대료']] = test_df[['임대보증금', '임대료']].fillna(0)

In [ ]:
subway_null_codes = train_df[train_df['지하철'].isnull()].단지코드.unique()
train_df.loc[train_df.단지코드.isin(subway_null_codes), '지하철'].value_counts(dropna=False)

NaN    211
Name: 지하철, dtype: int64

In [ ]:
subway_null_codes = test_df[test_df['지하철'].isnull()].단지코드.unique()
test_df.loc[test_df.단지코드.isin(subway_null_codes), '지하철'].value_counts(dropna=False)

NaN    42
Name: 지하철, dtype: int64

In [ ]:
bus_null_codes = train_df[train_df['버스'].isnull()].단지코드.unique()
train_df.loc[train_df.단지코드.isin(bus_null_codes), '버스'].value_counts(dropna=False)

NaN    4
Name: 버스, dtype: int64

In [ ]:
cols = ['지하철', '버스']
train_df[cols] = train_df[cols].fillna(0)
test_df[cols] = test_df[cols].fillna(0)

In [ ]:
test_df.loc[test_df.단지코드.isin(['C2411']) & test_df.신분.isnull(), '신분'] = 'A'

In [ ]:
test_df.loc[test_df.단지코드.isin(['C2253']) & test_df.신분.isnull(), '신분'] = 'C'

In [ ]:
train_df = train_df.drop_duplicates()
test_df = test_df.drop_duplicates()

In [ ]:
train_df['전용면적'] = train_df['전용면적']//5*5
test_df['전용면적'] = test_df['전용면적']//5*5

In [ ]:
columns = ['단지코드', '총세대수', '공가수', '지역', '단지내주차면수', '지하철', '버스']
target = '등록차량수'
area_columns = []
for area in train_df['전용면적'].unique():
    area_columns.append(f'면적_{area}')

In [ ]:
new_train = pd.DataFrame()
new_test = pd.DataFrame()

In [ ]:
for i, code in tqdm(enumerate(train_df['단지코드'].unique())):
    temp = train_df[train_df['단지코드']==code]
    temp.index = range(temp.shape[0])
    for col in columns:
        new_train.loc[i, col] = temp.loc[0, col]
    
    for col in area_columns:
        area = float(col.split('_')[-1])
        new_train.loc[i, col] = temp[temp['전용면적']==area]['전용면적별세대수'].sum()
    
    new_train.loc[i, '등록차량수'] = temp.loc[0, '등록차량수']
    
for i, code in tqdm(enumerate(test_df['단지코드'].unique())):
    temp = test_df[test_df['단지코드']==code]
    temp.index = range(temp.shape[0])
    for col in columns:
        new_test.loc[i, col] = temp.loc[0, col]
    
    for col in area_columns:
        area = float(col.split('_')[-1])
        new_test.loc[i, col] = temp[temp['전용면적']==area]['전용면적별세대수'].sum()

423it [00:13, 32.01it/s]
150it [00:04, 31.92it/s]

In [ ]:
local_map = {}
for i, loc in enumerate(new_train['지역'].unique()):
    local_map[loc] = i

In [ ]:
new_train['지역'] = new_train['지역'].map(local_map)
new_test['지역'] = new_test['지역'].map(local_map)

In [ ]:
new_train = new_train.fillna(-1)
new_test = new_test.fillna(-1)

In [ ]:
new_train.head()

    단지코드    총세대수   공가수     지역  ...  면적_405.0  면적_80.0  면적_65.0   등록차량수
0  C2483   900.0  38.0   경상북도  ...       0.0      0.0      0.0  1015.0
1  C2515   545.0  17.0   경상남도  ...       0.0      0.0      0.0   205.0
2  C1407  1216.0  13.0  대전광역시  ...       0.0      0.0      0.0  1064.0
3  C1945   755.0   6.0    경기도  ...       0.0      0.0      0.0   730.0
4  C1470   696.0  14.0   전라북도  ...       0.0      0.0      0.0   553.0

[5 rows x 32 columns]

In [ ]:
x_train = new_train.iloc[:, 1:-1]
y_train = new_train.iloc[:,-1]
x_test = new_test.iloc[:,1:]

In [ ]:
model = LGBMRegressor(n_jobs=-1, random_state=0)

In [ ]:
param_grid = {
    'num_leaves': [8, 16, 31, 62, 127],
    'reg_alpha': [0.1,0.25, 0.5],
    'min_data_in_leaf': [15, 30, 50, 100, 300, 400],
    'lambda_l1': [0, 0.5, 1, 1.5],
    'lambda_l2': [0, 0.5, 1],
    'gamma': [0.0001, 0.01, 0.1, 1, 10]
    }

grid = GridSearchCV(model, param_grid=param_grid, 
                    scoring=['neg_mean_absolute_error'],refit='neg_mean_absolute_error',
                    return_train_score=True, cv=3)
grid.fit(x_train, y_train)

GridSearchCV(cv=3, error_score=nan,
             estimator=LGBMRegressor(boosting_type='gbdt', class_weight=None,
                                     colsample_bytree=1.0,
                                     importance_type='split', learning_rate=0.1,
                                     max_depth=-1, min_child_samples=20,
                                     min_child_weight=0.001, min_split_gain=0.0,
                                     n_estimators=100, n_jobs=-1, num_leaves=31,
                                     objective=None, random_state=0,
                                     reg_alpha=0.0, reg_lambda=0.0, silent=True,
                                     su...
                                     subsample_freq=0),
             iid='deprecated', n_jobs=None,
             param_grid={'gamma': [0.0001, 0.01, 0.1, 1, 10],
                         'lambda_l1': [0, 0.5, 1, 1.5],
                         'lambda_l2': [0, 0.5, 1],
                         'min_data_in_leaf': [15, 30, 50, 100, 300, 400],
                         'num_leaves': [8, 16, 31, 62, 127],
                         'reg_alpha': [0.1, 0.25, 0.5]},
             pre_dispatch='2*n_jobs', refit='neg_mean_absolute_error',
             return_train_score=True, scoring=['neg_mean_absolute_error'],
             verbose=0)

In [ ]:
pred = grid.predict(x_test)

In [ ]:
submission  = pd.read_csv(PATH+'sample_submission.csv')

In [ ]:
submission['num'] = pred

In [ ]:
submission.to_csv(PATH+'ver2_2.csv', index=False)